<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolDAL.Settings1.ConnectionString" connectionString="Data Source=DESKTOP-FRJUQH1\SQLEXPRESS;Initial Catalog=SchoolDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>